
<br><br>
<br>
<br>
<br>

<a routerLink="/tasks/add" class="btn btn-danger" role="button" aria-pressed="true"><b>add Task</b></a>
<a routerLink="/tasks/details" class="btn btn-danger" role="button" aria-pressed="true"><b>detail Task</b></a>
<div class="main-content">
    <div class="container-fluid">
        <div class="row" >
            <div class="col-md-4" >
                <mat-card class="btn btn-default"><h5>TODO</h5> </mat-card>
            </div>
            <div class="col-md-4" >
                <mat-card class="btn btn-warning"><h5>IN PROGRESS</h5></mat-card>
            </div>
            <div class="col-md-4" >
                <mat-card class="btn btn-success"><h5>FINISHED</h5></mat-card>
            </div>
        </div>
        <div class="row" >


            <div class="col-md-4" >
                <div class="card card-chart">
                    <div class="card-body">
                        <CENTER><h3 class="card-title">task 1</h3> </CENTER>
                        <p class="card-category">
                            <span class="label label-inverse"></span> blablablablabla    blablablabla   blablablabla
                        </p>
                        <mdb-icon _ngcontent-serverapp-c150="" fas="" icon="user" class="fas"><i class="fa-user fas"></i></mdb-icon>
                        <div ><h5> <span class="badge bg-warning">firas</span></h5></div>
                        <h6>time estimated:</h6>
                        <p class="card-category">
                            1 Days 4 Hours 0 Minutes
                        </p>
                    </div>
                    <div class="card-footer">

                        <button type="button" class="btn btn-outline-warning btn-round"><span class="material-icons">edit</span>edit</button>
                        <button type="button" class="btn btn-outline-danger btn-round"> <span class="material-icons">delete_outline</span>delete</button>

                    </div>
                </div>
            </div>



            <div class="col-md-4" >
                <div class="card card-chart">
                    <div class="card-body">
                        <CENTER><h3 class="card-title">task 2</h3> </CENTER>
                        <p class="card-category">
                            <span class="label label-inverse"></span>blablablablabla    blablablabla   blablablabla
                        </p>
                        <div ><h5> <span class="badge bg-warning">ala</span></h5></div>
                        <h6>time estimated:</h6>
                        <p class="card-category">
                            1 Days 4 Hours 0 Minutes
                        </p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-warning btn-round"><span class="material-icons">edit</span>edit</button>

                    </div>
                </div>
            </div>




            <div class="col-md-4" >
                <div class="card card-chart">
                    <div class="card-body">
                        <CENTER><h3 class="card-title">task 3</h3> </CENTER>
                        <p class="card-category">
                            <span class="label label-inverse">blablablablabla    blablablabla   blablablabla</span>
                        </p>
                        <div ><h5> <span class="badge bg-warning">mouhamed</span></h5></div>
                        <h6>time estimated:</h6>
                        <p class="card-category">
                            1 Days 4 Hours 0 Minutes
                        </p>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>


