<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <br>

            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card card-profile">

                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a routerLink="/project-list" role="button" aria-pressed="true" class="btn btn-danger btn-round">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
