<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <a routerLink="/users/add" class="btn btn-danger" role="button" aria-pressed="true"><b>Ajouter  Utilisateur</b></a>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="row">
                        <div class="col-md-11">
                        <h4 class="card-title ">List User</h4>
                        </div>
                        <div class="col-md-1">
                            <a routerLink="/users/grid" class="material-icons">
                                view_module
                            </a>

                        </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table mat-table [dataSource]="users" class="table" >


                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Login Utilisateur</th>
                                    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="lastName">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Prénom Utilisateur</th>
                                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                                </ng-container>
                                <!-- Name Column -->
                                <ng-container matColumnDef="firstName">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Nom Utilisateur</th>
                                    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Email</th>
                                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>
                                <!-- Weight Column -->
                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Role</th>
                                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                                </ng-container>
                                <ng-container matColumnDef="details">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Details</th>
                                    <td mat-cell *matCellDef="let element" >  <a [routerLink]="'/users/details/' + element.id"  >
                                        <span class="material-icons">details</span>
                                    </a></td>
                                </ng-container>
                                <ng-container matColumnDef="modifier">

                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Modifier</th>
                                    <td mat-cell *matCellDef="let element" class="glyphicon glyphicon-pencil">
                                        <a [routerLink]="'/users/edit/' + element.id"  >
                                            <span class="material-icons">create</span>
                                        </a>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="supprimer">

                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Supprimer</th>
                                    <td mat-cell *matCellDef="let element" class="glyphicon glyphicon-pencil">
                                        <a  (click)="onDeletetUser(element)" >
                                            <span class="material-icons">delete_forever</span>
                                        </a>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
